<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>反馈结果</title>
		<link rel="stylesheet" type="text/css" href="/static/css/result.css" />
	</head>

	<body>
		<header>
			<div id="head">
				<div id="top-nav">
					<span id="">
						Iptvjam
					</span>
					<ul>
						<li>
							<a href="/index/">首页</a>
						</li>
						<li>
							<a href="">公司简介</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<article>
			<div id="result">
				<div id="title">感谢您的反馈，事件处理结果将反馈至以下，请保持关注</div>
				<div id="table">

				</div>
				<p id="pagecount"></p>
			</div>

		</article>
		<footer>
			<div id="foot">
				<p>
					商务合作　　bd.iptvjam.gmail.com　　© power by iptvjam　Alexa　　友情链接　　站长之家
				</p>
			</div>
		</footer>
		<script src="/static/js/jquery-1.11.0.min.js"></script>
		<script src="/static/js/result.js"></script>
	</body>

</html>