<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>

			#pagecount {
				width: 500px;
				margin: 10px auto;
				text-align: center
			}

			#pagecount span {
				margin: 4px;
				font-size: 14px
			}

		</style>
	</head>

	<body>
		<div id="qingkong"></div>
		<p id="pagecount"></p>
		<script src="/static/js/jquery-1.11.0.min.js"></script>
		<script>
			var curPage = 1; //当前页码

			var total, pageSize, totalPage; //总记录数，每页显示数，总页数

			//获取数据

			function getData(page) {

				$.ajax({

					type: 'GET',

					url: '/ceshifankuijieguo/',

					data: {
						'pageNum': page
					},

					dataType: 'json',

					beforeSend: function() {

						$('#qingkong').empty('')
						$('#qingkong').html('加载中...')

					},

					success: function(data) {

						$('#qingkong').empty(); //清空数据区

						//total = data.total; //总记录数

						//pageSize = data.pageSize; //每页显示条数

						//curPage = page; //当前页

						//totalPage = data.totalPage; //总页数

						var item = ''
						for(var i = 0; i < data.length; i++) {
							var data1 = data[i].data;

							total=data[0].total;
							pageSize = data[0].size;
							curPage=data[0].pages
							totalPage=data[0].current
							var unixtime = data1.start_time;
							var unixTimestamp = new Date(unixtime * 1000);
							commonTime = unixTimestamp.toLocaleString('zh', {
								hour12: false
							});

							item += "<div><label><table class='table'  cellspacing='0'><tr><td rowspan='2'><input name='jiemu' class='jiemu' type='radio' value=" + data1.match_id + "></td><td>" + data1.match_name + "</td><td>" + commonTime + "</td><td>" + data1.team_a + "</td><td>" + data1.team_b + "</td></tr></table></label></div>";

						}
						$('#qingkong').append(item);
						//默认第一条选中
						$('#qingkong .jiemu:first').click();
						$('#check .radio:first').click();

					},

					complete: function() { //生成分页条

						getPageBar();
　　　　　　　　　　　
						//当点击分页条中的分页链接时， 调用getData(page) 加载对应页码的数据。　　					　　
						$("#pagecount span a").on('click', function() {
							　　　　　　
							var rel = $(this).attr("rel");//拿到被点击的a的rel,也就是a的值
							　　　　　　
							if(rel) {   //如果rel存在,调用getData方法,传入rel
								　　　　
								getData(rel);
								　　　　　　
							}
							　　　　　　　　
						});
					　　
					},

					error: function() {

						alert("数据加载失败");

					}

				});

			}

			//获取分页条

			function getPageBar() {

				//页码大于最大页数

				if(curPage > totalPage) curPage = totalPage;//当前页码大于总页数,那么当前页码等于总页数

				//页码小于1

				if(curPage < 1) curPage = 1;//当前页码小于1,那么当前页码等于1

				pageStr = "<span>共" + total + "条</span><span>" + curPage + "/" + totalPage + "</span>";

				//如果是第一页

				if(curPage == 1) {

					pageStr += "<span>首页</span><span>上一页</span>";//写了个上一页,但是不让点

				} else {

					pageStr += "<span><a href='javascript:void(0)' rel='1'>首页</a></span><span> <a href = 'javascript:void(0)'rel= '" + (curPage - 1) + "' > 上一页 </a></span> ";

				}

				//如果是最后页

				if(curPage >= totalPage) {

					pageStr += "<span>下一页</span><span>尾页</span>";//写了个下一页,但是不让点

				} else {

					pageStr += "<span><a href='javascript:void(0)' rel='" + (parseInt(curPage) + 1) + "'>下一页 </a></span><span> <a href = 'javascript:void(0)' rel= '" + totalPage + "' > 尾页 </a></span>";
				}

				$("#pagecount").html(pageStr);

			}
			$(function() {

				getData(1);

			});
		</script>
	</body>

</html>